.row{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: inline-block;
    text-align: center;
}

.col{
    color: white;
    display: inline-block;  
}


body{
    background: linear-gradient(to top, rgb(0 0 0 / 50%)50% , rgb(0 0 0 / 50%)50%),url(1.jpg);
    background-size: cover;
}


.link{
    color: white;
}

.link:hover{
    color: grey;
}

.result
{
    display: inline-block;
    display: inline;
}
